@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	color: #12457C;
	background-color: #FFFFFF;
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	outline: none;
	blr: expression(this.onFocus = this.blur ());
	text-decoration: none;
}

div#pageNav {
	font-size: 13px;
	font-weight: bold;
}

div#pageNav a {
	display: inline-block;
	width: 19px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	color: #58595B;
	background-color: #F0F0F0;
}

div#pageNav a:hover {
	color: #FF0000;
	text-decoration: none;
}

div#pageNav a.active {
	color: #FFFFFF;
	background-color: #7798CB;
}

div#pageNav a.arrow {
	font-family: SimSun, Arial;
	font-weight: bold;
}